body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rbc-allday-cell {
  display: none;
}

.disabled-date.rbc-day-slot.rbc-time-column {
  pointer-events: auto !important;
}

.rbc-time-slot.enable-slot {
  background-color: white !important;
}

.rbc-day-slot.rbc-time-column.rbc-now.rbc-today .enable-slot {
  background-color: #eaf6ff !important;
}

.rbc-time-slot.disable-slot,
.rbc-day-bg.disabled-date.rbc-today,
.disabled-date.rbc-day-slot.rbc-time-column.rbc-now.rbc-today {
  background-color: orange !important;
}

.reserved-slot {
  background-color: yellow !important;
}

.rbc-event-label {
  display: none !important;
}

.Toastify__toast {
  background: black !important;
  color: #fff !important;
}
/* In your CSS file */
.place-holder::after {
  content: "Place holder";
  display: block; /* Ensures the content appears on a new line */
  color: rgb(249, 5, 5); /* Customize the text color */
}

