@keyframes blink {
    0% {
      opacity: 0.9;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
  
  .blinking-button {
    animation: blink 1s infinite;
  }
  .custom-toast-container{
      bottom:100px
  }
  
  /* calender */
  .rbc-calendar {
    min-height: 600px;
  }
  
  .rbc-btn-group button:nth-child(1) {
    background-color: yellow !important;
    color: #000 !important;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  }
  
  .rbc-btn-group button:nth-child(2)  {
    background-color: #4caf50 !important;
    color: #fff !important;
  }
  
  .rbc-btn-group button:nth-child(3)  {
      background-color: #007bff !important;
    color: #fff !important;
  }

  .rbc-btn-group .rbc-active{
      padding: 8px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important;
  }
  .form-check-input.gray-checkbox:checked {
    background-color: lightgray;
    border-color: black;
}
.rbc-toolbar-label{
    font-size: 20px;
    font-weight: 900;
}

.rbc-row.rbc-month-header{
  background-color: #007bff;
  color: white;
}
.rbc-row.rbc-time-header-cell .rbc-header{
  background-color: #4caf50 !important;
  color: white;
}

/**/

.blinking-frame-red{
  animation: blinking_red 1s infinite;
}

/* react-datepicker*/
.react-datepicker__time-container {
  width: 75px !important;
}
.react-datepicker__time-list{
  display: flex;
  flex-direction: column;
}

.react-datepicker__input-container input{
  width: 100%  !important;
  margin: 5px;
}
/*
pdfviwer*/
.react-pdf__Page__textContent{
  display: none;
}
