body {
    background-color: #bcd9f5;
}

/* nav */
.card {
    max-width: 25rem;
    padding: 0;
    border: none;
    border-radius: 0.5rem;
}

a.active {
    border-bottom: 2px solid #55c57a;
}

.nav-link {
    color: rgb(110, 110, 110);
    font-weight: 500;
}

.nav-link:hover {
    color: #55c57a;
}

.nav-pills .nav-link.active {
    color: black;
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 600;
}

.tab-content {
    padding-bottom: 1.3rem;
}

.form-control {
    background-color: rgb(241, 243, 247);
    border: none;
}

/* 3nd card */
span {
    margin-left: 0.5rem;
    padding: 1px 10px;
    color: white;
    background-color: rgb(143, 143, 143);
    border-radius: 4px;
    font-weight: 600;
}

.third {
    padding: 0 1.5rem 0 1.5rem;
}

label {
    font-weight: 500;
    color: rgb(104, 104, 104);
}

.btn-success {
    float: right;
}

.form-control:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 7px rgba(0, 0, 0, 0.2);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
}

/* 1st card */

ul {
    list-style: none;
    margin-top: 1rem;
    padding-inline-start: 0;
}

.search {
    padding: 0 1rem 0 1rem;
}

.ccontent li .wrapp {
    padding: 0.3rem 1rem 0.001rem 1rem;
}

.ccontent li .wrapp div {
    font-weight: 600;
}

.ccontent li .wrapp p {
    font-weight: 360;
}

.ccontent li:hover {
    background-color: rgb(117, 93, 255);
    color: white;
}

/* 2nd card */

.addinfo {
    padding: 0 1rem;
}

/* -----------------------------------------------tutor setup-----------------------------**/


.react-international-phone-input {
    width: 100%;
}


/********************************************** Profile ------------------------*********************/
ul.vertical-tabs .nav-link :hover {
    background: aliceblue !important;
}


/**************************************Collaboration Tab *******************************/
.App-menu.App-menu_top {
    background-color: #212f3d !important;
    border-radius: 5px !important;
    height: 60px;
}

.layer-ui__wrapper__top-right.zen-mode-transition {
    margin-top: 10px !important;
    margin-right: 10px !important
}

.shapes-section {
    margin-top: 10px
}

.ToolIcon__keybinding {
    background: inherit;
    border-radius: 0;
    margin: 0;
    padding: 0;
    display: none
}

.ToolIcon {
    height: 40px;
}

.Stack.Stack_horizontal {
    height: 40px
}